{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 90,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto"
}
