@font-face {
    font-family: JetBrainsMono;
    src: url('./assets/fonts/JetBrainsMono.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Rubik;
    src: url('./assets/fonts/Rubik.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Nunito;
    src: url('./assets/fonts/Nunito.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Russo-One;
    src: url('./assets/fonts/RussoOne-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Ubuntu-Bold;
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-display: swap;
}

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #151a31;
}

.modal-open {
    overflow: hidden;
}

.tabs {
    width: 100%;
    height: 28px;
}

.numbers {
    color: #999;
    margin-top: 14px;
    font-size: 16px;
    font-family: JetBrainsMono;
    font-weight: 100;
    margin-left: 26px;
}

.numbers-wrapper {
    display: flex;
    flex-direction: column;
}

:root {
    --p-select-color: #ececec;
    --p-select-focus-border-color: #9d9da6;
    --p-select-hover-border-color: #9d9da6;
    --p-select-background: transparent;
    --p-select-border-radius: 0;
    --p-select-overlay-background: #1f1f1f;
    --p-select-overlay-border-radius: 0;
    --p-select-overlay-border-color: #9d9da6;
    --p-select-option-selected-background: rgb(0, 84, 255);
    --p-select-option-focus-background: #343437;
    --p-select-option-selected-focus-background: rgb(0, 84, 255);
    --p-overlay-select-background: #27272a;
    --p-select-option-group-background: 0;
    --p-select-option-border-radius: 0;

    --dp-primary-color: rgb(0, 84, 255);
    --dp-font-family: Nunito;
    --dp-font-size: 0.85rem;
    --dp-border-radius: 0;
    --dp-cell-border-radius: 0;
    --dp-cell-size: 32px;
    --dp-cell-color: #0054ff;
    --dp-menu-min-width: 225px;
}

.custom-dp-input {
    background-color: var(--dp-bg-color);
    color: var(--dp-text-color);
    border: 1px solid #ccc;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 300;
    width: 156px;
    height: 37px;
    border-radius: 0;
    transition: border-color 0.1s;
}

html.dark .custom-dp-input {
    --dp-text-color: #ccc;
    border: 1px solid #808080;
    --dp-bg-color: #1f1f1f;
}

.custom-dp-input {
    --dp-text-color: #d4d1d1;
    border: 1px solid #808080;
    --dp-bg-color: #ffffff09;
}

html.dark .custom-dp-input:hover {
    border-color: #0054ff;
}

.custom-dp-input:hover {
    border-color: #0054ff;
}

html.dark .custom-dp-input:focus-visible {
    outline: none;
}

.custom-dp-input:focus-visible {
    outline: none;
}

html.dark .custom-dp-calendar {
    background-color: rgb(143, 143, 143) 7e7;
    font-family: Rubik;
}

.custom-dp-calendar.light-theme {
    background-color: #e7e7e7;
    font-family: Rubik;
}

.dp__cell_inner:hover {
    background-color: #0054ff;
    cursor: pointer;
}

.dp__action_button {
    color: #0054ff;
}

.dp__active_date {
    background: #0054ff;
    cursor: pointer;
}

.dp__today {
    border: 1px solid #0054ff;
}

.dp__action_cancel:hover {
    border: 1px solid #0054ff;
}

.dp__action_select:hover {
    border: 1px solid #0054ff;
}

.dp__action_select {
    background: #0054ff !important;
}
